
.form{
    /* background-color: rgb(255, 255, 255); */
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter:blur(10px);
    box-shadow: 0 0 10px  rgb(55, 65, 81) inset,0 0 15px  rgb(55, 65, 81) inset;
    max-width: 50rem;
}
form>div{
    margin: 20px 0;
}
form>div input:focus ,form>div input{
    outline: none;
    background-color: unset;
    border-bottom: 2px solid white;
    color:white;
}
form>div input:focus {
    border-color: pink;
}
input ~ label {
    left: 0%;
    top: 0;
    transition: all .2s;
}
input:focus ~ label,input:active ~ label, .text-fill{
    margin-left: 0;
    top: -50%;
    font-size: .75rem;
    font-weight: bold;
}

